/* About Page Styles */

@use "../variables/colors" as c;
@import "../globals/fonts";

$primary-50: map-get(map-get(c.$colors, primary), 50);
$primary-100: map-get(map-get(c.$colors, primary), 100);

.about-container {
  background-color: $primary-100;
  color: $primary-50;
  width: 80%;
  border-radius: 1.25rem;
}
