/* About Page Styles */

@use "../variables/colors" as c;
@use "../utils/mixins" as m;

@import "../globals/fonts";

$primary-50: map-get(map-get(c.$colors, primary), 50);
$primary-100: map-get(map-get(c.$colors, primary), 100);

.about-container {
  background-color: $primary-100;
  color: $primary-50;
  width: 90%;
  border-radius: 1.25rem;
  @include m.breakpoint-up("sm") {
    width: 50%;
  }
}
