/* Imports from Components Folder */

@import "../../globals/fonts";

.navbar {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__logo {
    font-family: $elika-gorica;
    font-size: 14rem;
  }

  &__text {
    font-family: $brice;
  }

  &__links {
    font-family: $roboto;
  }
}
