/* General Styles */

@use "../variables/colors" as c;

$primary-50: map-get(map-get(c.$colors, primary), 50);

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth !important;
  scroll-padding-top: 10rem;
}

body {
  background-color: $primary-50;
  margin: 0 auto;
  max-width: 1600px;
  min-height: 100vh;
  //font-family: $josefin-sans;
  &::-webkit-scrollbar {
    display: none; // For Chrome, Safari, and Edge
  }
}
