/* Typography Styles */

@use "../variables/colors" as c;
@import "../globals/fonts";

$primary-50: map-get(map-get(c.$colors, primary), 100);
$secondary-100: map-get(map-get(c.$colors, secondary), 100);

.header {
  &--page {
    color: $primary-50;
    font-family: $elika-gorica;
    font-size: 10rem;
    font-style: italic;
  }
}

.body {
  &--primary {
    font-family: $brice;
  }

  &--secondary {
    font-family: $roboto;
  }
}

.link {
  &--primary {
    color: $secondary-100;
    font-family: $roboto;
  }

  &--large {
    color: $primary-50;
    font-family: $roboto;
    font-size: 4rem;
    position: relative;
    transition: color 0.5s ease, opacity 0.5s ease;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 4px;
      bottom: -2px;
      left: 0;
      background-color: $primary-100;
      transform: scaleX(0);
      transform-origin: bottom right;
      transition: transform 0.5s ease;
    }

    &:hover,
    &:focus {
      color: $primary-100;
      opacity: 0.8;

      &::after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }
  }
}
