/* Typography Styles */

@use "../variables/colors" as c;
@import "../globals/fonts";

$primary-50: map-get(map-get(c.$colors, primary), 100);
$secondary-100: map-get(map-get(c.$colors, secondary), 100);

.body {
  &--primary {
    font-family: $brice;
  }

  &--secondary {
    font-family: $roboto;
  }
}
